* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 0;
}

.menu, .navigation-bar {
    display: inline-block;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #122325;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
}

.menu {
    list-style: none;
}

.menu li {
    list-style: none;
    margin: 0 auto;
    border-left: 2px solid #3ca0e7;
    display: inline-block;
    padding: 0 30px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
}

.menu li .navigation-bar {
    transition: all .3s ease;
}

.menu ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: white;
}

.profile li {
    list-style: none;
    list-style: none;
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-align: right;
    font-family: 'IBM Plex Sans', sans-serif;
}

.profile ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: none;
    background: white;
}

.profile ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    font-family: 'IBM Plex Sans', sans-serif;
    display: block;
    min-width: 250px;
    text-align: right;
}

.profile ul li ul li {
    clear: both;
    width: 100%;
    padding: initial;
    text-align: right;
    border-style: none;
}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    font-family: 'IBM Plex Sans', sans-serif;
    display: block;
    min-width: 250px;
    text-align: right;
    padding-top: 5px;
    box-shadow: 0 3px 5px -1px #ccc;
}

ul li ul li {
    clear: both;
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
    border-style: none;
}

ul li ul li a:hover {
    padding-right: 10px;
    color: #122325;
    transition: all 0.3s ease;
}

.menu a {
    text-decoration: none;
}

.menu .navigation-bar:hover {
    color: #007cc7;
}

.head {
    display: flex;
    padding: 10px 10%;
    border-bottom: 1px solid #eee;
    min-height: 49px;
    list-style: none;
    text-align: right;
    justify-content: flex-end;
}

.head .logo {
    justify-content: end;
    padding-top: -4%;
    padding-right: 60%;

    font-family: 'Shizuru', cursive;;
}

.logo img {
    object-fit: cover;
}

.head li {
    display: inline-block;
    list-style: none;
    padding-right: 5px;
    font-family: 'Quicksand', sans-serif;
}

.head a {
    color: #D2D2D2;
    text-decoration: none;
    margin-right: 20px;
    margin-top: 25px;
    display: flex;
}

.head a:hover {
    color: black;
}

.cta {
}

.hero {
    border-radius: 8px;
    background: #007cc7;
    display: flex;
    height: 400px;
    width: 100%;
    align-items: center;
}

.hero_content {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: #eee;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;

}

.col-2 h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    line-height: 60px;
    margin: 35px 0;
}

.categories {
    margin: 70px 0;
}

.col-3 {
    flex: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.title {
    text-align: center;
    margin: 0 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title:after {
    content: '';
    background: #007cc7;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.articoliHome {
    border-top: 1px solid #eee;
    min-height: 100%;
}

.articoliHome .box-container {
    display: flex;
    size: 15px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    width: 85%;
    margin: 0 auto;
}

.articoliHome .box-container .box {
    border-radius: 15px;
    flex: 1 1 30rem;
    border: .1rem solid rgba(0, 0, 0, .3);
    overflow: hidden;
    position: relative;
    margin: 1rem 2rem;
}

.articoliHome .box-container .box .image {
    height: 20rem;
    padding: 2rem;
    text-align: center;
    background: #f0f0f0;
}

.articoliHome .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.articoliHome .box-container .box .info h3 {
    padding: 1rem;
    font-size: 2rem;
}

.articoliHome .box-container .box .info .subInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-top: .1rem solid rgba(0, 0, 0, .3);
}

.articoliHome .box-container .box .info .subInfo .price {
    color: #ff3300;
    font-size: 2rem;
}

.articoliHome .box-container .box .info .subInfo .price span {
    color: #666;
    font-size: 1.5rem;
    text-decoration: line-through;
}

.articoliHome .box-container .box .info .subInfo .stars i {
    color: orange;
    font-size: 1.5rem;
}

.articoliHome .box-container .box .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 20rem;
    width: 100%;
    background: rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}

.articoliHome .box-container .box:hover .overlay {
    transform: scale(1);
}

.articoliHome .box-container .box .overlay a {
    font-size: 2rem;
    padding: 1.5rem 2rem;
    background: #fff;
    color: #666;
    margin: 1rem;
    transform: translateY(-15rem);
    transition-delay: calc(.1s * var(--i));
}

.articoliHome .box-container .box:hover .overlay a {
    transform: translateY(0rem);
}

.articoliHome .box-container .box .overlay a:hover {
    color: var(--blue);
}

.offer {
    background: #007cc7;
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img {
    padding: 50px;
}

small {
    color: #f0f0f0;
}

.offer h1 {
    font-size: 30px;
    color: #fff;
}

.offer p {
    color: #fff;
}

.btn {
    display: inline-block;
    background: #122325;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.btnCarrello {
    display: flex;
    background: #007cc7;
    color: #fff;
    padding: 0% 80%;
    margin: 20px 0;
    border-radius: 30px;
}

.btnCarrello:hover {
    background-color: #0b0f13;
}

.btn:hover {
    background: #fff;
}

.brands {
    background-color: #0b0f13;
    padding: 5%;
    margin: 5% auto;
}

.small {
    background-color: #0b0f13;
    color: #ffffff;
}

.col-5 {
    width: 160px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(5%);
}

.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

.cart-page small {
    color: #122325;

}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background-color: #007cc7;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    text-decoration: none;
    color: #064f8a;
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #007cc7;
    width: 100%;
    max-width: 400px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

.cart-info p {
    display: none;
}

.subInfo .btn {
    display: inline-block;
    background: #007cc7;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.subInfo .btn:hover {
    background: #122325;
}

#btnPiccolo {
    background-color: #007cc7;
    width: 50%;
}

#btnPiccolo:hover {
    background-color: #0b0f13;
    color: #fff;
}

#confirmBtn {
    display: inline-block;
    float: right;
}

.confirmBtn {
    float: left;
    background-color: #007cc7;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.confirmBtn:hover {
    background-color: #122325;
}

#returnBtn {
    display: inline-block;
    float: right;
}

.returnBtn {
    background-color: red;
    color: #fff;
    padding: 8px 30px;
    text-decoration: none;
    margin: 30px 0;
    border-radius: 30px;
}

.returnBtn:hover {
    background-color: #122325;
    color: #fff;
}

.carrelloButton {
    width: 50%;
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    padding: 10px 0;
    margin: 0 auto 0 62%;
}

.productPage-btn {
    width: 50%;
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    padding: 10px 0;
    margin: 0 auto 0 0%;
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.modal-content-btn {
    margin-left: 35%;
}


.modal-content p {
    font-size: 20px;
    text-align: center;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.single-product {
    margin-top: 80px;
}

.single-product .col-2 img {
    padding: 0;
}

.single-product .col-2 {
    padding: 20px;
}

.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product .qtaSelect {
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #0d6efd;
}

input:focus {
    outline: none;
}

.small-img-row {
    padding-top: 10%;
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.linkCategoria {
    text-decoration: none;
    color: #007cc7;
}

.linkCategoria:hover {
    color: #0b0f13;
}

.small-img {
    max-width: 117px;
    max-height: 66px;
}

.shop-content {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(220px, auto));
    gap: 1.5rem;
}

.shop-content .btn {
    display: flex;
    justify-content: center;
    background-color: #0d6efd;
}

.shop-content .btn:hover {
    background-color: #0b0f13;
    color: #ffffff;
}

.product-box {
    padding: 10%;
}

.product-box:hover {
    border: 1px solid #0d6efd;
    transition: 0.4s;
}

.product-img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.product-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.price {
    font-weight: 50;
}

.add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background: tomato;
    color: blueviolet;
    padding: 10px;
    cursor: pointer;
}

.add-cart:hover {
    background: hsl(249, 32%, 17%);
}

.filtro {
    width: 25%;
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    padding: 10px 0;
    position: relative;
    margin: 0px 0px 5% 90%;
}

.textarea {
    border-color: #0d6efd;
    width: max-content;
    height: 100px;
}

.selectinput {
    border-color: #0d6efd;
}

.ui-w-80 {
    width: 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background: rgba(0, 0, 0, 0);
    color: #4E5155;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background: transparent;
    color: #26B4FF;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}

.btn-facebook {
    border-color: rgba(0, 0, 0, 0);
    background: #3B5998;
    color: #fff;
}

.btn-instagram {
    border-color: rgba(0, 0, 0, 0);
    background: #000;
    color: #fff;
}

.card {
    background-clip: padding-box;
    box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}

.account-settings-multiselect ~ .select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
    padding: 10%;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.modifica {
    display: flex;
    background: #007cc7;
    color: #fff;
    padding: 1% 10%;
    margin: 12px 0;
    border-radius: 30px;
}

.cancella {
    display: flex;
    background: red;
    color: #fff;
    padding: 1% 10%;
    margin: 12px 0;
    border-radius: 30px;
}
.rimuovi {
    text-decoration: none;
    display: flex;
    background: red;
    color: #fff;
    padding: 1% 10%;
    margin: 12px 0;
    border-radius: 30px;
}
.rimuovi:hover{
    background: #0b0f13;
    color: #fff;
}
.modifica:hover {
    background-color: #0b0f13;
}


.accordion {
    border-radius: 10px;
    background-color:#0b0f13;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.attivo, .accordion:hover {
    background-color: #007cc7;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
#table-wrapper {
    height: 450px;
    width: auto;
    margin-top: 5%;
}
#table-scroll {
    height:100%;
    overflow:auto;
    margin-top:20px;
}
#table-wrapper table {
    width:100%;

}
#table-wrapper table * {
    color:black;
}
#table-wrapper table thead th .text {
    position:absolute;
    top:-20px;
    z-index:2;
    height:20px;
    width:35%;
    border:1px solid red;
}
.riga {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}

.col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.contenitore {
    background-color: #fff;
    margin: 5%;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btnAdd {
    background-color: #0b0f13;
    display: inline-block;
    color: #fff;
    padding: 8px 30px;
    width: 40%;
    margin-top: 11.5%;
    border-radius: 30px;

}

.btnAdd:hover {
    background-color: #007cc7;
}

span.price {
    float: right;
    color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }
    .col-25 {
        margin-bottom: 20px;
    }
}
